.sidebar_navigation {
    width: 280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Sidebar UP  */
.sidebar_up {
    width: 100%;
    height: auto;
    background-color: var(--bg);
    border-radius: 8px;
    cursor: pointer;
}

.sidebar_up .logo {
    margin: 20px 0px 0px;
    padding: 0px 24px;
    background-color: #121212;
    display: flex;
    border-radius: 8px;
}

.logo>a>img {
    height: 24px;
}

.sidebar_up .logo img {
    width: 80px;
}

.sidebar_up ul {
    list-style: none;
    padding: 8px 12px;
    margin: 0 !important;
}

.sidebar_up ul li {
    height: 40px;
    padding: 3px 12px;
    display: flex;
    align-items: center;
}

.sidebar_up ul li a {
    color: var(--text-sub);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    fill: var(--text-sub);
    gap: 20px;
    cursor: pointer;
}

.sidebar_up ul li a svg {
    width: 24px;
    height: 24px;
    font-size: 20px;
    font-weight: 300;
    border: none;
    outline: none;
}

.sidebar_up ul li a:hover,
.sidebar_up ul li a svg:hover {
    fill: var(--text-base-light);
    color: var(--text-base-light);
}

/* Sidebar DOWN  */

.sidebar_down {
    height: 100vh;
}

.library {
    background-color: var(--bg);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    min-block-size: 40px;
    padding: 0px 0px;
    color: var(--text-sub);
    font-weight: 600;
    height: 100%;
    font-size: 14px;
    flex-direction: column;
}

.library_content {
    display: flex;
    align-items: center;
    height: auto;
    padding: 8px 16px;
    justify-content: space-between;
    box-shadow: 0px 4px 10px 0px #000;
    position: sticky;
}

.library .library_content>div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50rem;
    margin-right: 8px;
    width: 32px;
    cursor: pointer;
    height: 27.5px;
    fill: var(--text-sub);
}

.library .library_content>div>svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}

.library .library_content>div:hover {
    background: var(--text-base-dark);
    fill: var(--text-base-light);
}

.library .library_content>div:hover {
    fill: var(--text-base-light);
}

.library .library_button {
    margin-right: 10px;
    color: var(--text-sub);
    fill: var(--text-sub);
    background-color: transparent;
    border: 0px;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 8px 8px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.library .library_button>svg {
    width: 24px;
    height: 24px;
    font-size: 26px;
    margin-right: 10px;
    font-weight: 300;
}

.library .library_button:hover {
    color: var(--text-base-light);
    fill: #ffffff;
}




.playlist_scroll {
    padding: 0 8px;
    max-height: 160px;
    overflow-y: scroll;
}

.section_playlist {
    background-color: #242424;
    align-items: flex-start;
    border-radius: 8px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    min-block-size: 40px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0;
    padding: 16px 20px;
}

.section_playlist .section_playlist_content {
    display: flex;
    flex-direction: column;
}

.section_playlist_content .text {
    padding-bottom: 14px;
    color: #fff;
}

.title {
    font-weight: 700;
    padding-bottom: 14px;
    color: #fff;
}

.subtitle {
    padding-bottom: 14px;
    color: #fff;
    font-weight: 500;
    font-size: 0.8rem;
}

.section_playlist_content .section_playlist_button {
    background-color: #ffffff;
    color: #000;
    border-radius: 9999px;
    display: flex;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    border: 0px;
    width: auto;
    justify-content: center;
    cursor: pointer;
    margin-top: 12px;
}

.library_down {
    padding-top: 10px !important;
    padding: 0 24px;
    height: auto;
}

.library_down_atalhos {
    display: grid;
}

.library_down_atalhos .cookies {
    margin: 8px 0px 8px 0px;
}

.library_down_atalhos .cookies a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
}

.library_down_atalhos .cookies a:hover {
    text-decoration: underline;
}

.languages {
    margin-top: 25px;
    margin-bottom: 32px;
}

.languages .languages_button {
    background-color: transparent;
    border-radius: 9999px;
    border: 1px solid #878787;
    color: #fff;
    cursor: pointer;
    align-items: center;
    padding: 8px 10px;
    width: auto;
    margin: 8px;
    font-weight: bold;
    display: flex;
    gap: 8px;
}

.languages>.languages_button>svg {
    width: 16px;
    height: 16px;
    fill: #fff;
}

@media screen and (max-width: 840px) {
    .sidebar_navigation {
        width: 100%;
    }
    .sidebar_up {
        display: flex;
        justify-content: space-between;
    }
    .sidebar_up ul {
        display: flex;
    }
    .sidebar_up ul li a span {
        display: none;
    }
    .sidebar_down {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    
}