.content_view {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: #121212;
}

.view_nav {
    width: calc(100% - 32px);
    height: 64px;
    display: flex;
    justify-content: space-between;
    background: #0a0a0a;
    border-radius: 8px 8px 0px 0px;
    padding: 0 16px;
}

.view_nav .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.view_nav_btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.view_nav_back>svg,
.view_nav_next>svg {
    width: 16px;
    height: 16px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.593);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50rem;
    fill: #878787;
    font-size: 28px;
}

.view_nav_back>svg:hover,
.view_nav_next>svg:hover {
    background: #000;
    fill: #fff;
}

.view_nav_input {
    display: flex;
    align-items: center;
}

.view_nav_input>form {
    width: 364px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.view_nav_input>form>input {
    padding: 10px;
    border-radius: 50rem;

    background-color: #242424;
    border: 0;
    border-radius: 500px;
    color: #fff !important;
    height: 48px;
    padding: 0 38px;
    text-overflow: ellipsis;
    width: 100%;

}

.view_nav_input>form>div {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    margin-left: 6px;
}

.view_nav_input>form>div>i {
    font-size: 22px;
    color: #878787;
    font-weight: 300;
}

.view_nav_input>form>div>i:hover {
    color: #fff;
}

.view_nav .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}



.view_navigation {
    width: 100%;
    /* height: 100%; */
    height: calc(100% - 64px);
    background-color: #121212;
}

.playlist {
    padding: 10px 18px 14px 18px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.playlist > h1 {
    color: #f7f7f7;
    font-size: 18px;
}


.playlist > h2 {
    color: #f7f7f7a6;
    font-size: 14px;
}

.content_viewn {
    padding: 10px;
    height: calc(100% - 100px);
    overflow-y: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    gap: 16px;
    margin-bottom: 16px;
    overflow-x: hidden;

    /* CODIGO COM JS CALCULANDO OS CARDS POR COLUNA
    display: grid;
    gap: 16px;
    grid-gap: 32px;
    margin: 0 auto; */

}

.cards {
    width: 180px;
    height: 180px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    perspective: 250px;
}

.cover_image {
    /* width: 100%; */
    /* height: 100%; */
    object-fit: cover;
    /* border-radius: 6px; */
}

.wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.cards:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
}

.wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(to top, transparent 46%, rgba(12, 13, 19, 0.5)68%, rgba(12, 13, 19) 97%);
}

.wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(to bottom, transparent 46%, rgba(12, 13, 19, 0.5)68%, rgba(12, 13, 19) 97%);
}

.cards:hover .wrapper::before,
.wrapper::after {
    opacity: 1;
}

.cards:hover .wrapper::after {
    height: 120px;
}

.title {
    font-size: 1rem;
    width: 100%;
    background: #0a0a0a00;
    color: #d7d6d6;
    padding-bottom: 8px;
    text-align: center;
    transition: transform 0.5s;
}

.cards:hover .title {
    transform: translate3d(0%, -32px, 80px);
    color: #fff;
    background: transparent;
}

.character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: 1;
}

.cards:hover .character {
    opacity: 1;
    transform: translate3d(0%, -14%, -150px);
}

/* .cards img {
    width: 220px;
    height: 200px;
    transform: rotateX(50%);
}

.cards span {
    padding: 16px;
    position: absolute;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
} */



@media screen and (max-width: 1115px) {
    .content_viewn {
        padding: 10px;
        height: calc(100% - 100px);
        overflow-y: auto;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 16px;
        gap: 16px;
        margin-bottom: 16px;

        /* CODIGO COM JS CALCULANDO OS CARDS POR COLUNA
        display: grid;
        gap: 16px;
        grid-gap: 32px;
        margin: 0 auto; */

    }
}

@media screen and (max-width: 1085px) {
    .content_viewn {
        padding: 10px;
        height: calc(100% - 100px);
        overflow-y: auto;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 16px;
        gap: 16px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 840px) {
    .content_viewn {
        padding: 10px;
        height: calc(100% - 100px);
        overflow-y: auto;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 16px;
        gap: 16px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 600px) {
    .content_viewn {
        padding: 10px;
        height: calc(100% - 100px);
        overflow-y: auto;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
        gap: 16px;
        margin-bottom: 16px;
    }
}